@import "tailwindcss";

@theme {
    --color-background: rgb(248, 230, 242);
    --color-pink: rgb(224, 43, 164);
    --color-gray-pink : #fff8ff;
    --color-gray:#e5e4e4
}

p, span, label, a, li, h3 {
    font-family: "League Spartan", serif;
}


h1, h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}